<div class="login-container">
  <div class="login-content">
    <div class="login-image"></div>

    <div class="login-box">
      <form class="form" [formGroup]="form" (ngSubmit)="onLogin()">
        <h2>Sign in</h2>

        <div class="flex-column">
          <label>Email address</label>
        </div>
        <div class="inputForm">
          <!-- icono de email -->
          <input class="input" formControlName="email" placeholder="Enter your Email" />
        </div>

        <div class="flex-column">
          <label>Password</label>
        </div>
        <div class="inputForm">
          <!-- icono de candado -->
          <input type="password" class="input" formControlName="password" placeholder="Enter your Password" />
        </div>

        <div class="flex-row">
          <div>
            <input type="checkbox" formControlName="remember" />
            <label>Remember me</label>
          </div>
          <span class="span">Forgot password?</span>
        </div>

        <button class="button-submit" [disabled]="form.invalid">Sign In</button>

        <p class="p">Don't have an account? <span class="span">Sign Up</span></p>
        <p class="p line">Or With</p>

        <div class="flex-row">
          <button type="button" class="btn google">Google</button>
          <button type="button" class="btn apple">Apple</button>
        </div>
      </form>
    </div>
  </div>
</div>
