/* SOLO cambia el sidebar */
.menu-sidebar {
  background-color: var(--sidebar-color) !important;
  color: #ffffff;
  margin-top: 64px;
  min-height: calc(100vh - 64px); // asegura altura completa del sidebar

  ::ng-deep .ant-menu {
    background-color: var(--sidebar-color) !important;

    .ant-menu-submenu-title,
    .ant-menu-item {
      color: #ffffff !important;
    }

    .ant-menu-item:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }

    .ant-menu-item-selected {
      background-color: var(--primary-color) !important;
      color: #ffffff !important;
      border-left: 4px solid var(--primary-color) !important;
      box-shadow: none !important;
    }

    .ant-menu-item-selected::after {
      border-bottom: none !important;
    }

    .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-arrow::after {
      background: #ffffff !important;
    }

    .ant-menu-sub.ant-menu-inline {
      background-color: var(--sidebar-color) !important;
    }

    .ant-menu-sub .ant-menu-item {
      color: #ffffff !important;
    }

    .ant-menu-sub .ant-menu-item:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }

    .ant-menu-sub .ant-menu-item-selected {
      background-color: var(--primary-color) !important;
      color: #ffffff !important;
    }

    .ant-menu-item a,
    .ant-menu-item a:hover {
      color: #ffffff !important;
    }
  }
}

/* Logo Execution en sidebar */
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: var(--sidebar-color); // ahora dinámico

  img {
    height: 60px;
    width: auto;
    object-fit: contain;
  }

  h1 {
    margin-left: 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
  }
}
