/* SOLO cambia el sidebar */
.menu-sidebar {
   background-color: var(--sidebar-color) !important;
  color: #ffffff;
  margin-top: 64px;

  ::ng-deep .ant-menu {
    background-color: #082748 !important;

    .ant-menu-submenu-title,
    .ant-menu-item {
      color: #ffffff !important;
    }

    .ant-menu-item:hover {
      background-color: #0d3c73 !important;
    }

    .ant-menu-item-selected {
      background-color: var(--primary-color) !important;
      color: #ffffff !important;
    }

    .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-arrow::after {
      background: #ffffff !important;
    }

    /* Submenús abiertos (como Organización, Workplace) */
    .ant-menu-sub.ant-menu-inline {
      background-color: #082748 !important;
    }

    /* Ítems dentro de submenús */
    .ant-menu-sub .ant-menu-item {
      color: #ffffff !important;
    }

    .ant-menu-sub .ant-menu-item:hover {
      background-color: #0d3c73 !important;
      color: #ffffff !important;
    }

    .ant-menu-sub .ant-menu-item-selected {
      background-color: #4e84ce !important;
      color: #ffffff !important;
    }

    /* Enlaces internos blancos */
    .ant-menu-item a {
      color: #ffffff !important;
    }

    .ant-menu-item a:hover {
      color: #ffffff !important;
    }
  }
}

/* Logo Execution en sidebar */
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #082748;

  img {
    height: 60px;
    width: auto;
    object-fit: contain;
  }

  h1 {
    margin-left: 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
  }
}
