<div class="recovery-container">
  <h2>Reinicio de Contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="username">Usuario:</label>
    <input id="username" formControlName="username" type="text" placeholder="Ingrese su usuario" />

    <label for="email">Correo:</label>
    <input id="email" formControlName="email" type="email" placeholder="Ingrese su correo electrónico" />

    <button type="submit" [disabled]="isLoading || form.invalid">
      {{ isLoading ? 'Procesando...' : 'Reiniciar contraseña' }}
    </button>
  </form>
</div>
